
<div class="container-xl">
    <h3> <span class="badge bg-secondary">{{compteFieldsTitles.listComptesFieldTitle}}</span></h3>
    <div class="table-responsive-xxl">
      <table class="table">
        <thead class="table-dark">
          <tr   >
            <th >{{compteFieldsTitles.compteIDFieldTitle}}</th>
            <th>{{compteFieldsTitles.soldeFieldTitle}}</th>
            <th >{{compteFieldsTitles.ribFieldTitle}}</th>
            <th >{{compteFieldsTitles.userIdFieldTitle}}</th>
            <th >{{compteFieldsTitles.statusFieldTitle}}</th>




          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let compte  of listeComptes">
            <td >{{compte.compteIDFieldValue}}</td>
            <td>{{compte.soldeFieldValue}}</td>
            <td>{{compte.ribFieldValue}}</td>
            <td>{{compte.userIdFieldValue}}</td>
            <td>{{compte.statusFieldValue}}</td>


          </tr>
        </tbody>
      </table>
  </div>
  <div class="card"  style="width: 90%;" style="padding: 2%;">
    <div class="card-header">
      Nouveau client
    </div>
    <div class="card-body">
      <h5 class="card-title">Informations</h5>
      <p class="card-text">Prie de remplire le formulaire clients</p>

      <form class="row g-3">
        <div class="col-md-3">
            <label for="inputCompteId" class="form-label">{{compteFieldsTitles.compteIDFieldTitle}}</label>
            <input type="text" class="form-control" id="inputCompteId">
          </div>
          <div class="col-md-3">
            <label for="inputSolde" class="form-label">{{compteFieldsTitles.soldeFieldTitle}}</label>
            <input type="text" class="form-control" id="inputSolde">
          </div>
          <div class="col-md-3">
            <label for="inputRIb" class="form-label">{{compteFieldsTitles.ribFieldTitle}}</label>
            <input type="text" class="form-control" id="inputRIb">
          </div>
          <div class="col-md-3">
            <label for="inputUserId" class="form-label">{{compteFieldsTitles.userIdFieldTitle}}</label>
            <input type="text" class="form-control" id="inputUserId">
          </div>
          <div class="col-md-3">
            <label for="inputStatus" class="form-label">{{compteFieldsTitles.statusFieldTitle }}</label>
            <input type="password" class="form-control" id="inputStatus">
          </div>


        <div class="col-12">
          <button type="submit" class="btn btn-primary">Créer compte</button>
        </div>
      </form>
    </div>
  </div>
</div>
